[Unit]
Description=dnmonster

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill dnmonster
ExecStartPre=-/usr/bin/docker rm dnmonster
ExecStartPre=/usr/bin/docker pull amouat/dnmonster:1.0
ExecStart=/usr/bin/docker run --name dnmonster amouat/dnmonster:1.0
ExecStartPost=/usr/bin/env bash -c 'etcdctl set /skydns/local/identidock/dnmonster '{"host":"'$(docker inspect -f {{.NetworkSettings.IPAddress}} dnmonster)'","port":8080}''
ExecStartPost=/usr/bin/env bash -c 'sleep 2 && IP=$(docker inspect -f {{.NetworkSettings.IPAddress}} dnmonster) && etcdctl set /skydns/local/identidock/dnmonster "{\\"host\\":\\"$IP\\",\\"port\\":8080}"'
ExecStop=/usr/bin/docker stop dnmonster
